# ███╗░░██╗░█████╗░███╗░░██╗░█████╗░██████╗░░█████╗░
# ████╗░██║██╔══██╗████╗░██║██╔══██╗██╔══██╗██╔══██╗
# ██╔██╗██║███████║██╔██╗██║██║░░██║██████╔╝██║░░╚═╝
# ██║╚████║██╔══██║██║╚████║██║░░██║██╔══██╗██║░░██╗
# ██║░╚███║██║░░██║██║░╚███║╚█████╔╝██║░░██║╚█████╔╝
# ╚═╝░░╚══╝╚═╝░░╚═╝╚═╝░░╚══╝░╚════╝░╚═╝░░╚═╝░╚════╝░

# Settings for `nano` editor
# Full list of settings might be shown via `man nano` or here: https://www.nano-editor.org/dist/v3/nanorc.5.html

# Includes syntax highlighting
include "~/.nano/*.nanorc"

# Other Settings
set tabstospaces
set trimblanks
set softwrap
set atblanks
set constantshow
set backup
set backupdir "~/.nano-backups"
set historylog
set tabsize 4
set tabstospaces
set smarthome
set constantshow
set nohelp
unset autoindent
unset noconvert
unset nonewlines
unset softwrap
# set smooth
# set linenumbers
